// Variables
@import 'animation';
@import 'variables';
@import 'position';
@import 'grid';
@import 'width';
@import 'text';
@import 'image';
@import 'form';
@import 'navigator';
@import 'margin';
@import 'padding';
@import 'border';
@import 'card';

* {
	padding: 0;
	border: 0;
	margin: 0;
	outline: none;
	font-family: "FontFirst", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
	@include greyScrollBar();
}

a {
	text-decoration: none;
}

.app-mobile {
	display: none;
	@media (max-width: $max-width) {
		display: block;
	}
}

.app-desktop {
	@media (max-width: $max-width) {
		display: none;
	}
}

// layout
.app {
	position: relative;
	width: 100%;
	@include grid_2x(300px, 1fr);

	@media (max-width: $max-width) {
		@include grid_none();
	}

	// layout
	.app-slide {
		position: relative;
		width: 100%;
		height: 100vh;
		@include column_n(1);
		@media (max-width: $max-width) {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 600;
			background-color: rgba($color: $blue, $alpha: 0.54);
			@include column_n(1);
		}

		&.app-slide-mobile {
			display: block;
			@media (max-width: $max-width) {
				display: none;
			}
		}

		.slide-content {
			position: fixed;
			top: 0;
			left: 0;
			width: 300px;
			height: 100vh;
			overflow-y: auto;
		}

	}
	.app-main {
		position: relative;
		width: 100%;
		background-color: #fafbfe;
		@include column_n(2);
		@media (max-width: $max-width) {
			@include column_n(1);
		}
		.main-content {
			position: relative;
			width: calc(100% - 30px);
			padding: 15px;
			@media (max-width: $max-width) {
				width: 100%;
				padding: 15px 0;
			}
		}
	}

	// app-space
	.app-space {
		position: relative;
		width: calc(100% - 30px);
		padding: 10px 15px;
		font-size: 9pt;
		color: rgba($color: #fff, $alpha: 0.7);
	}

	// menu
	// .app-submenu {
	// 	display: none;
	// }

	.app-menu {
		position: relative;
		width: 100%;
		.content {
			position: relative;
			list-style: none;
			.list {
				position: relative;
				width: calc(100% - 30px);
				padding: 15px 15px;
				color: rgba($color: #fff, $alpha: 0.7);
				cursor: pointer;
				border-radius: 5px;
				@include grid_3x(35px, 1fr, 35px);
				&:hover {
					@include animate_1();
					color: #fff;
					background-color: rgba($color: #000000, $alpha: 0.1);
				}
				&:hover .app-submenu {
					display: block;
				}
				&:active {
					@include animate_1();
					color: #fff;
					background-color: rgba($color: #000000, $alpha: 0.1)
				}
				&.active {
					@include animate_1();
					color: #fff;
					// background-color: rgba($color: #000000, $alpha: 0.1)
				}
				.new {
					position: relative;
					width: 20px;
					height: 20px;
					line-height: 20px;
					border-radius: 100%;
					text-align: center;
					font-size: 9pt;
					color: #fff;
					background-color: $blue;
				}
				.icn {
					position: relative;
					width: 100%;
					height: 30px;
					line-height: 30px;
					font-size: 8pt;
				}
				.ttl {
					position: relative;
					width: 100%;
					height: 30px;
					line-height: 30px;
					font-size: 11pt;
				}
			}
		}

	}

	.app-panel {
		position: relative;
		height: 65px;
		background-color: #fff;
		.panel-content {
			position: relative;
			width: calc(100% - 60px);
			padding: 10px 30px;
			height: 45px;
			background-color: #fff;
			box-shadow: 0 0 20px 0 rgba(154,161,171,.15);
			border-bottom: $border;
			@include grid_2x(350px, 1fr);
			// @include grid_gap(20px);
			@media (max-width: $max-width) {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 500;
				width: calc(100% - 10px);
				padding: 10px 5px;
				@include grid_2x(150px, 1fr);
			}
			.col-1 {
				position: relative;
				@include column_n(1);
			}
			.col-2 {
				position: relative;
				@include column_n(2);
				text-align: right;
			}
		}
	}

	.app-footer {
		position: relative;
		width: calc(100% - 60px);
		padding: 20px 30px;
		background-color: #fff;
		border-top: $border;
	}

	.app-small-profile {
		position: relative;
		height: 45px;
		padding: 0 15px;
		margin-left: 15px;
		border-left: $border;
		border-right: $border;
		cursor: pointer;
		@include grid_2x(30px, 1fr);
		@include grid_gap(10px);
		@media (max-width: $max-width) {
			@include grid_none();
			border-left: 0;
			border-right: 0;
		}
		&:hover {
			background-color: #f8f8f8;
		}
		.asp-col-1 {
			position: relative;
			@include column_n(1);
		}
		.asp-col-2 {
			position: relative;
			text-align: left;
			@include column_n(2);
			@media (max-width: $max-width) {
				display: none;
			}
		}
		.image {
			@include post_top(relative);
			@media (max-width: $max-width) {
				top: 22px;
			}
		}
		.ttl {
			@include post_top(relative);
		}
	}

	// app form
	.app-popup {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: $blue, $alpha: 0.84);
		z-index: 1000;
		overflow-y: auto;
		display: none;
		@include transparantScrollBar();
		&.app-popup-show {
			display: block;
		}
		.popup-content {
			position: relative;
			margin: auto;
			width: 600px;
			@media (max-width: $max-width) {
				width: calc(100% - 30px);
				margin: 0 15px;
			}
		}
	}

	.app-menu-popup {
		position: absolute;
		right: 0;
		width: 200px;
		background-color: #fff;
		border: $border;
		border-radius: 10px;
		overflow: hidden;
		z-index: 100;
		box-shadow: $shadow;
		ul {
			position: relative;
			width: 100%;
			li {
				position: relative;
				width: calc(100% - 30px);
				padding: 15px;
				list-style-type: none;
				text-align: left;
				font-size: 11pt;
				color: $txt-84-color;
				cursor: pointer;
				&:hover {
					background-color: #f8f8f8;
				}
			}
		}
	}


	// app login
	.app-login {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 100;
		overflow-y: auto;
		@include transparantScrollBar();
		.login-content {
			@include post_center(relative);
			width: 700px;
			padding: 25px;
			background-color: #fff;
			border-radius: 5px;
			overflow: hidden;
			@media (max-width: $max-width) {
				@include post_none();
				width: calc(100% - 60px);
				padding: 15px;
				margin: auto;
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}

}